<a href="https://colab.research.google.com/github/luckyparjapat1122/Python-basics-/blob/main/Basic_python_and_conditionals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Basic Python and Conditionals**

In [14]:
print("lucky")

lucky

**Comments**

In [ ]:
# This is a single line comments.

In [17]:
''' This is multi line comment
my name is lucky '''
print('hi')

hi

**Variables**:- A variable is like a container to store a data.

In [18]:
# Declaration and assigning variables
a=5
print(a)
print(type(a))

5
<class 'int'>

In [19]:
c="lucky parjapati"
print(c)
print(type(c))

lucky parjapati
<class 'str'>

In [20]:
# Valid or invalid variables names
# valid:- Only start character and underscore
# Invalid:- Don't start any number, special character/ symbol.
_a = 5
print(_a)

5

In [24]:
# Case sensitivity in python
# yes python is a case sensitive language
name = 'lucky'
print(name)

lucky

In [27]:
'''
Understanding variable types
Python is dynamically typed language
means python interpreter automatically understand the data type of a variable,
and type of a variable is determined at runtime'''
my_variable = 10                 # my_variable is an integer
print(type(my_variable))
my_variable = "Lucky Parjapati"           # Now, my_variable is a string
print(type(my_variable))
print (my_variable)

<class 'int'>
<class 'str'>
Lucky Parjapati

In [30]:
# Type Conversion
a = 10
print(type(a)
)

<class 'int'>

In [31]:
b = float(a)
print(type(b))

<class 'float'>

In [35]:
c = str(b)
print(type(c))

<class 'str'>

In [36]:
# Variable reinitialization
x = 7
x = 12.45
x = 'lucky'
print(x)

lucky

In [38]:
# Input function
a= int(input("enter the number:"))
print(a)
print(type(a))

enter the number:5
5
<class 'int'>

In [40]:
name = input("enter your name:")
print("Hello," + name)
print(type(name))

enter your name:lucky
Hello,lucky
<class 'str'>

In [ ]:
# Understanding different data types
# int
# float
# bool
# string

In [46]:
# Adding two different datatypes
a = 5
b = 5.7
c = a+b
print(c)
print(type(c))

10.7
<class 'float'>

In [53]:
c = 'lucky'
d = c + str(5)
print(d)
print(type(d))

lucky5
<class 'str'>

# **Operators**

In [56]:
# Arithmetic Operators
'''
+	Addition	x + y
-	Subtraction	x - y
*	Multiplication	x * y
/	Division	x / y
// Floor Division x//y
%	Modulus	x % y
**	Exponentiation	x ** y
'''
x = int(input("Enter first number:"))
y = int(input("Enter second number:"))
print(x+y)
print(x-y)
print(x*y)
print(x/y)  # Quotients
print(x//y) # Quotients without decimal
print(x%y)  # Remainder
print(x**y)  # Power

Enter first number:4
Enter second number:2
6
2
8
2.0
2
0
16

In [57]:
# Comparison Operators
'''
==	Equal	x == y
!=	Not equal	x != y
>	Greater than	x > y
<	Less than	x < y
>=	Greater than or equal to	x >= y
<=	Less than or equal to	x <= y
'''
print(x==y)
print(x!=y)
print(x>y)
print(x<y)
print(x>=y)  # Minimum one condition True.
print(x<=y)  # Minimum one condition True.

False
True
True
False
True
False

In [59]:
# Logical Operators
# and
# or
# not
a = 10
b = 5
print(a>b and a!=b)         # Both conditions are true.
print(a==b or a!=b)         # Minimum one condition is true.
print(not (a>b and a!=b))   # Reverse the output True➡️False, False➡️True.

True
True
False

** 1) SIMPLE CALCULATOR PROGRAM**

In [ ]:
# Create a simple calculator program taking 2 inputs
# from user and printing different arithemtic outputs.
a = int (input("Enter fist number:"))
b = int (input("Enter second number:"))
print(f"Addition of {a} and {b} is {a+b}")
print(f"Subtraction of {a} and {b} is {a-b}")
print(f"Multiplication of {a} and {b} is {a*b}")
print(f"Division of {a} and {b} is {a/b}")
print(f"Floor Division of {a} and {b} is {a//b}")
print(f"Modulus/Remainder of {a} and {b} is {a%b}")
print(f"Exponent/Power of {a} and {b} is {a**b}")

Enter fist number:10
Enter second number:5
Addition of 10 and 5 is 15
Subtraction of 10 and 5 is 5
Multiplication of 10 and 5 is 50
Division of 10 and 5 is 2.0
Floor Division of 10 and 5 is 2
Modulus/Remainder of 10 and 5 is 0
Exponent/Power of 10 and 5 is 100000

**CONDITIONAL STATEMENTS**

In [60]:
# Decision making statements
a = 1
if a>5:
  print("a is greater than 5")
else:
  print("a is less than 5")

a is less than 5

**2) WRITE A PROGRAM TO FIND THE NUMBER IS EVEN OR NOT **

In [62]:
a = int(input("Enter the number: "))
if a%2==0:
  print(f"The number {a} is even.")
else:
  print(f"The number {a} is odd.")

Enter the number: 10
The number 10 is even.

In [ ]:
# elif
'''
if condition:
  statement
elif condition:
  statement
else:
  statement
'''

In [78]:
# Nested conditonals
# Number EVEN, ODD, NEGATIVE
a = int(input("Enter the number: "))
if a>0:
  if a%2==0:
    print(f"The number {a} is Even and Positive.")
  else:
    print(f"The number {a} is Odd and Positive.")
else:
  if a%2==0:
    print(f"The number {a} is Even and Negative.")
  else:
    print(f"The number {a} is Odd and Negative.")

Enter the number: -9
The number -9 is Odd and Negative.

**1) Simple Calculator program to
Take user input for operation using Conditional statements.**

In [ ]:
a = int(input("Enter first number:"))
b = int(input("Enter second number:"))
choice = input("Enter your choice:")
if choice=='+':
  print(f'Addition of {a} and {b} is {a+b}')
elif choice=='-':
  print(f'Subtraction of {a} and {b} is {a-b}')
elif choice=="*":
  print(f"Multiplication of {a} and {b} is {a*b}")
elif choice=="/":
  print(f"Division of {a} and {b} is {a/b}")
elif choice=="//":
  print(f"Floor Division of {a} and {b} is {a//b}")
elif choice=="%":
  print(f"Modulus/Remainder of {a} and {b} is {a%b}")
elif choice=="**":
  print(f"Exponent/Power of {a} and {b} is {a**b}")
else:
  print("Invalid choice")

Enter first number:10
Enter second number:5
Enter your choice:/
Division of 10 and 5 is 2.0

**2) A simple user login system that checks the username and password.**

user = "admin"

password = "admin@123"

In [79]:
user = "lucky"
password = "lucky@1234"

a = input("Enter your username:")
b = input("Enter your password:")

if user==a and password==b:
  print("Login Successful")
elif user==a and password!=b:
  print("Invalid password")
elif user!=a and password==b:
  print("Invalid username")
else:
  print("Invalid username and password")

Enter your username:lucky
Enter your password:lucky@1234
Login Successful

**3) Write a program to calculate the grade of the marks using Conditional statements.**

In [80]:
name = input("Enter your name:")
m1 = float(input("Enter your English marks:"))
m2 = float(input("Enter your Physics marks:"))
m3 = float(input("Enter your Chemistry marks:"))
m5 = float(input("Enter your Computer Science marks:"))
m4 = float(input("Enter your Mathematics/Biology marks:"))
total = m1+m2+m3+m4+m5
percentage = (total/500)*100
# {percentage:.2f}% means take two number after the decimal.
print(f"{name} your total marks are {total} and your percentage is {percentage:.2f}%.")

if m1<33 or m2<33 or m3<33 or m4<33 or m5<33:
  print(f"{name} you have failed due to less than 33 marks in one or more subjects.")

else:
    if percentage >=90:
      print(f"{name} your grade is A+")
      print("Excellent Performance")
    elif percentage >=80:
      print(f"{name} your grade is A")
      print("Very Good")
    elif percentage >=70:
      print(f"{name} your grade is B")
      print("Good")
    elif percentage >=50:
      print(f"{name} your grade is C")
      print("Keep working hard")
    else:
      print(f"{name} your grade is D")
      print("Needs Imrovement")

Enter your name:Lucky Parjapati
Enter your English marks:83
Enter your Physics marks:85
Enter your Chemistry marks:94
Enter your Computer Science marks:99
Enter your Mathematics/Biology marks:78
Lucky Parjapati your total marks are 439.0 and your percentage is 87.80%.
Lucky Parjapati your grade is A
Very Good